<%-  contentFor('body')  %>
<section class="page_hero">
	<img class="hero_img-thumb" src="/static-site-generator-wp-rest/images/single-post-images/<%- post.slug %>/<%- post.hero.thumb.filename %>" />
	<img class="hero_img-full" src="/static-site-generator-wp-rest/images/single-post-images/<%- post.slug %>/<%- post.hero.full.filename %>" />
	<div class="inner">
		<div class="texture">
		<h1><%- post.title %></h1>
		<p>By <%- post.author.name %></p>
		</div>
	</div>
</section>
<h5><%- post.categories[0].name %></h5>
<%- post.content %>
