<section class="page_hero">
	<img class="hero_img-thumb" src="<%- post.hero.thumb.location %>" />
	<img class="hero_img-full" src="<%- post.hero.full.location %>" />
	<div class="inner">
		<div class="texture">
			<div class="central-column">
				<%- include cat-flag %>
				<h1><%- post.title %></h1>
			</div>
		</div>
	</div>
</section>
<main>
	<article class="central-column">
		<div class="meta">
			<%- post.author.name %>
		</div>
		<div class="content">
			<%- post.content %>
		</div>
	</article>
</main>
